<!DOCTYPE html>
<html>
<head>
  <title>Symbolic Integrator version 1.0.0.0.27 (based on SAINT (by James Robert Slagle))</title>
  <link rel="stylesheet" href="/static/style/solver.css" type="text/css" />
  <script type="text/javascript" src="/static/vendor/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="/static/js/solver.js"></script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <!-- MathJax is bundled locally so equations also render without Internet
       access and are already typeset when the graph is printed to PDF. -->
  <script type="text/javascript" src="/static/vendor/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</head>
<body>
  <header>
    <span class="header-title">Symbolic Integrator version 1.0.0.0.27</span>
    <span class="header-subtitle">(based on SAINT (by James Robert Slagle))</span>
  </header>

  <div class="latex-test">
    Does LaTeX rendering work?
    <br>
    \( \int x^2 dx \)
    \[ \psi \epsilon \rho \]
  </div>

  <div class="problem-container">
    <div class="input-container">
      <input type="text" name="problem-input" value="int x^2 dx">
      <input type="submit" name="problem-solve" value="Solve">
      <div class="problem-status"></div>
    </div>
    <div class="problem-response"></div>
    <section class="and-or-section">
      <div class="and-or-heading">
        <h2>AND-OR solution graph</h2>
        <button type="button" class="graph-print">Print / Save as PDF</button>
      </div>
      <div class="and-or-graph"></div>
    </section>
  </div>
</body>
</html>
